:root {
    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-low:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
      0px 1.2px 1.3px -1.2px hsl(var(--shadow-color) / 0.34),
      0px 2.8px 3.1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.36),
      0px 2.3px 2.6px -0.8px hsl(var(--shadow-color) / 0.36),
      0px 5.8px 6.5px -1.7px hsl(var(--shadow-color) / 0.36),
      -0.1px 14.1px 15.9px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
      0px 4.1px 4.6px -0.4px hsl(var(--shadow-color) / 0.34),
      -0.1px 7.7px 8.7px -0.7px hsl(var(--shadow-color) / 0.34),
      -0.1px 12.6px 14.2px -1.1px hsl(var(--shadow-color) / 0.34),
      -0.1px 20.2px 22.7px -1.4px hsl(var(--shadow-color) / 0.34),
      -0.2px 31.5px 35.4px -1.8px hsl(var(--shadow-color) / 0.34),
      -0.3px 47.9px 53.9px -2.1px hsl(var(--shadow-color) / 0.34),
      -0.5px 70.6px 79.4px -2.5px hsl(var(--shadow-color) / 0.34);
  }


/* animation */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.intro{
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: 1s;
    background-color: #161616;
}

.logo-header{
    position: absolute;
    color:white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 5rem;
}

.logo.space{
    right: 20px;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    transition: ease-in-out 0.5s;
}

/* nav animation */

.center-new{
    display: none;
}

/* rest*/

/*fonts and general settings*/

.portfolio-nav:hover{
    transform: scale(1.2);
}

.normal-nav:hover{
    opacity: 0.7;
}

body{
    margin: 0px;
}

.font-roboto{
    font-family: 'Roboto Condensed', sans-serif;
}

.title{
    font-family: 'Open Sans', sans-serif;
}

.portfolio-span-link {
    background-color: orange;
    background-image: linear-gradient(109.7deg, rgb(202, 50, 50) 5.7%, rgb(252, 195, 12) 92.4%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    cursor: pointer;
}

.portfolio-span-link:hover{
    transform: scale(1.5);
}

/* navbar */


.flex-container{
    position: fixed;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 30px 10px;
    background-color: white;
    top: 0px;
    z-index: 2;
}


.flex-container a{
    color: black;
    font-family: 'Lato', sans-serif;
}


.flex-item{
    margin-top: 4px;
    margin-left: 30px;
    margin-right: 30px;
    height: 25px;
}

.portfolio-nav{
    background: linear-gradient(109.7deg, rgb(202, 50, 50) 5.7%, rgb(252, 195, 12) 92.4%);
    padding: 10px;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    color: white;
}


a{
    text-decoration:none;
}

.container2{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    list-style: none;
}

.flex-container.other > div > a{
    margin-right: 20px;
    padding: 7px;
}

.flex-container > div > a{
    padding: 7px;
    margin-right: 20px;
}

/* intro screen design */

#intro{
    margin-top: 75px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    height: 90vh;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avnoor{
   position: relative;
   bottom: 6%;
}

.avnoor h1{
    font-size: 6rem;
    z-index: 1;
    filter: drop-shadow(0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34));
}
.rightSide{
    width: 90%;
}

.rightSide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 90vh;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    box-shadow: var(--shadow-elevation-medium);
}




/* all the content on the main page */

#main-section{
    background-color: white;
}

.hero{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    min-width: 300px;
}

.hero div{
    text-align: center;
    width: 450px;
}
.hero img{
    margin-top: 30px;
    margin-bottom: 20px;
}


.about-me{
    color: #000;
    font-size: 4rem;
    font-family: 'Open Sans', 'sans-serif';
    margin-bottom: 5%;
}

.hero span{
    background-color: #000;
    /*background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);*/
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}

.hero p{
    text-align: center;
    font-size: min(max(3vw, 1.2rem), 1.7rem);
    margin-top: 5%;
    margin-bottom: 40px;
    color: #6c757d;
}

.avnoorImage{
    text-align: center; 
    border-radius: 5%;
    width: 60%;
    object-fit: contain;
    box-shadow: var(--shadow-elevation-medium);
}

hr{
    border: dotted #6c757d 6px;
    border-bottom: none;
    width: 8%;
    margin: 100px auto;
}

#hobbies{
    color: #000;
    font-size: 4rem;
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.container-grid p{
    color: #6c757d;
    font-size: max(min(2vw, 1.7rem), 1.4rem);
}

.grid-item > img{
    width: 250px;
    object-fit: contain;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10%;
    padding: 15px;
}

.hobbies-text{
    width: 90%; 
    /*text-align: center;*/
}

.footer{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottomRule{
    border: solid #000 1px;
    width: 93%;
    margin: auto;
}

.footer a{
    padding: 2.2%;
    padding-bottom: 0px;
}

.footer a:hover{
    opacity: 0.7;
}

.footer > div{
    text-align: center;
    margin: 25px;
}

.copywrite{
    text-align: center;
}

.copywrite p{
    color: black;
    font-size: 1.2rem;
}

.twitter{
    margin-bottom: 2px;
}

a > svg{
    width:30px;
}
@media(min-width: 1300px){
    .avnoor h1{
        font-size: 6.5rem;
        z-index: 1;
    }
}

@media (max-width: 1150px){
    .container-grid{
        display: block;
        position: relative;
        bottom: 50px;
        margin-bottom: none;
    }

    .grid-item > img{
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .hobbies-text > p{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .hobbies-text{
        text-align: center;
    }
    .final-hobby-text{
        margin-bottom: none;
    }
}

@media(max-width: 990px){
    .avnoor h1{
        font-size: 4.7rem;
        z-index: 1;
    }
}
@media(max-width: 800px){
    #intro{
        margin-top: 75px;
        background-color: white;
        height: 90vh;
    }
    hr{
        margin: 50px auto;
    }
    
    .leftSide{
        display: none;
    }
    .avnoor{
       position: absolute;
    }
    
    .rightSide img{
        width: 94.3vw;
        height: 100vh;
    }
}

@media (max-width: 600px){
    .grid-item > img{
        width: 200px;
    }
    .grid-item{
        width: 300px;
    }
    .hobbies-text > p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .flex-item{
        margin-top: 4px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .flex-container{
        font-size: 0.8rem;
    }
    .flex-under600{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .page{
        font-size: 1.1rem;
    }

    .logo{
        font-size: 2.8rem;
    }

    .logo.space{
        right: 10px;
    }
    #intro{
        margin-top: 75px;
        display: block;
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
    }
}

@media (max-width: 500px){
    .hero div{
        width: 300px;
    }
}

@media(max-width: 450px){
    .avnoor h1{
        font-size: 3.6rem;
        z-index: 1;
    }
    .rightSide img{
        width: 90.3vw;
    }
}

@media (max-width: 400px){
    .hero div h2{
        font-size: 3.5rem;
    }
}



.portfolio-nav-bootstrap{
    background: linear-gradient(109.7deg, rgb(202, 50, 50) 5.7%, rgb(252, 195, 12) 92.4%);
    padding: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-radius: 5px;
    color: white;
}

.portfolio-nav-bootstrap:hover{
    transform: scale(1.2);
}


/* animation on scroll */

.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(20%);
    transition: all 1s;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.card{
    transition: all 0.5s;
}

@media(min-width: 800px){
    .card:hover{
        transform: scale(1.1);
        box-shadow: var(--shadow-elevation-high);
        z-index: 1;
    }
}
